.headTitle {
    font-family: 'Caveat', cursive;
    text-align: center;
    font-size: 2.5rem;
}

.profilePic {
    display: block;
    margin: 5vh auto;
}

.aboutMe {
    font-family: 'Caveat', cursive;
    text-align: center;
    font-size: 2.0rem;
}

.logo {
    display: block;
    margin: 5vh auto;
}

.contactText {
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
    color: black;
    text-align: center;
}

.contactLink {
    text-decoration: none;
    color: black;
}

.contactLink:hover {
    color: #f52525;
}