.headTitle {
    font-family: 'Special Elite', cursive;
    text-align: center;
    font-size: 2.0rem;
}

.profilePic {
    display: block;
    margin: 5vh auto;
}

.aboutMe {
    font-family: 'Special Elite', cursive;
    text-align: center;
    font-size: 1.4rem;
}

.logo,
.products {
    display: block;
    margin: 5vh auto;
}

.contactText {
    font-family: 'Special Elite', cursive;
    font-size: 1.4rem;
    font-weight: bold;
    color: black;
    text-align: center;
}

.contactLink {
    text-decoration: none;
    color: black;
}

.contactLink:hover {
    color: #f52525;
}