.footer {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 0;
    font-size: .8rem;
    font-family: 'Roboto', sans-serif;
    color: rgb(88, 0, 15);
    background: #d4cebf;
    align-items: center;
    justify-content: center;

    .creator {
        text-decoration: none;
        color: rgb(88, 0, 15);
    }

    .creator:hover {
        color: #f52525;
    }
}