.footer {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 0;
    font-size: .95rem;
    font-family: 'Courgette', cursive;
    color: #36030c;
    background: #d4cebf;
    align-items: center;
    justify-content: center;

    .creator {
        text-decoration: none;
        color: #36030c;
    }

    .creator:hover {
        color: #f52525;
    }
}