.container {
    margin: 0 auto;
    max-width: 86%;
    padding: 1rem;
    background-color: #f1e1ae;
    background-image: linear-gradient(39deg, #d4cebf 0%, #fddfb5 100%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
}

// Container size for md and sm screens
@media only screen and (max-width: 425px) {
    .container {
        max-width: 95%;
    }
}